:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: #f1f1f1;
}

.headlines {
  text-align: center;
  font-weight: 800;
  background-image: url(/assets/img/header-wave-dark.svg);
  background-repeat: repeat-x;
  background-size: 200vw;
  animation: transitionWave linear infinite 20s;
  background-position-y: -37vw;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  @media (min-width: 1280px){
    background-position-y: -40vw;
  }


  h1 {
    font-size: 9vw;
    line-height: 1;
    margin-bottom: 3vw;

    @media (min-width: 1280px){
      font-size: 120px;
    }
  }

  h3 {
    font-size: 2vw;
    line-height: 1;

    @media (min-width: 1280px){
      font-size: 26px;
    }
  }
}

@keyframes transitionWave {
  from {background-position-x: 0;}
  to {background-position-x: 100%;}
}
