<app-project-small
  effectTitle="#01 BOUTON HOVER EFFECT EPIC"
  githubLink="https://gitlab.com/bdebon/scalpel/tree/master/src/app/scalpel/s5button"
  youtubeLink="https://www.youtube.com/watch?v=KKZyB3bc52Q&list=PL8x4xEF7H2YP4WabQY4Sem5PzdHLPVDMm&index=2"
  videoTitle="Scalpel #01"
  time="1h"
  skill="CSS / SVG"
  agency="5SCONTENT"
  agencyWebsite="https://5scontent.com"
  website="https://5scontent.com"
>
  <app-s5button></app-s5button>
</app-project-small>


<app-project-small
  effectTitle="#02 EPIC Hover effect on images"
  githubLink="https://gitlab.com/bdebon/scalpel/tree/master/src/app/scalpel/basic-agency"
  time="2h"
  skill="CSS"
  agency="Basic Agency"
  agencyWebsite="https://basicagency.com/"
  website="https://basicagency.com/"
  videoTitle="Scalpel #02"
  youtubeLink="https://www.youtube.com/watch?v=511Se3worgg&list=PL8x4xEF7H2YP4WabQY4Sem5PzdHLPVDMm&index=3"

>
  <app-basic-agency></app-basic-agency>
</app-project-small>


<app-project-fullscreen
  effectTitle="#03 WAVE ON TITLE OMG"
  githubLink="https://gitlab.com/bdebon/scalpel/tree/master/src/app/scalpel/superrb"
  time="2h"
  skill="CSS - SVG"
  agency="Superrb"
  agencyWebsite="https://superrb.com/"
  website="https://superrb.com/"
  videoTitle="Scalpel #03"
  youtubeLink="https://www.youtube.com/watch?v=z8AG19xhJa0&list=PL8x4xEF7H2YP4WabQY4Sem5PzdHLPVDMm&index=4"

>
  <app-superrb></app-superrb>
</app-project-fullscreen>


<app-project-fullscreen
  effectTitle="#03 WAVE ON TITLE OMG"
  githubLink="https://gitlab.com/bdebon/scalpel/tree/master/src/app/scalpel/superrb"
  time="2h"
  skill="CSS - SVG"
  agency="Superrb"
  agencyWebsite="https://superrb.com/"
  website="https://superrb.com/"
  videoTitle="Scalpel #03"
  youtubeLink="https://www.youtube.com/watch?v=z8AG19xhJa0&list=PL8x4xEF7H2YP4WabQY4Sem5PzdHLPVDMm&index=4"

>
  <app-ultranoir class="fill-demo"></app-ultranoir>
</app-project-fullscreen>
